/*
* ----------------------------------------------------------------------------------------
* .START BLOG DESIGN
* ----------------------------------------------------------------------------------------
*/
.blog-page {
  padding: 100px 0;
}
/*BLOG PAGES DESIGN*/
.post-slide-blog {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.08);
  margin-bottom: 30px;
  overflow: hidden;
  padding: 40px;
}
.post-single {
  background: none;
  padding: 0;
  box-shadow: none;
}
.blog-img img {
  position: relative;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .blog-img img {
    width: 100%;
  }
}
.blog-img a {
  position: absolute;
  left: 50%;
  margin-top: 40px;
  background: #f3f4f3;
  padding: 7px 20px;
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #999393;
}

.post-slide-blog h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.post-slide-blog h2 {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
  line-height: 50px;
  transition: 0.3s;
}
.post-slide-blog h2 a:hover {
  color: #1d8f2c;
}
.post-slide-blog span {
  text-transform: capitalize;
  padding-right: 10px;
  margin-bottom: 15px;
  display: inline-block;
  margin-top: 20px;
}
.post-slide-blog span i {
  color: #1d8f2c;
}
.post-slide-blog > a {
  margin-bottom: 0px;
}
.post-slide-blog p {
  margin-bottom: 30px;
}

/*START PAGINATION*/
ul.blog_pagination li a {
  border: 1px solid #f8f7f0;
  border-radius: 3px;
  /* color: #1d293e; */
  display: block;
  font-size: 18px;
  font-weight: 600;
  background: #f8f7f0;
  height: 50px;
  line-height: 50px;
  margin: 5px;
  text-align: center;
  width: 50px;
}
ul.blog_pagination li a:hover {
  color: #fff;
  background: #1d8f2c;
  border: 1px solid #1d8f2c;
}
/*END PAGINATION*/
/*START BLOG SIDEBAR DESIGN*/
.contact_form_blog {
  padding-top: 0px !important;
}
.blog_sidebar_title {
  /* border-bottom: 1px solid #eee; */
  /* color: #1d293e; */
  font-size: 20px;
  font-weight: 600;
  letter-spacing: x;
  margin-bottom: 15px;
  margin-top: 0;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.blog_search,
.latest_blog,
.advertisement_post,
.video_post,
.categories,
.tag,
.banner {
  margin-bottom: 30px;
  background: #fff;
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid #ddd;
  /* box-shadow: 0 10px 40px -10px rgba(0,64,128,.2); */
}
.tag {
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .blog_search {
    margin-top: 60px;
  }
}

.blog_search input {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 52px;
  padding: 15px;
}
.blog_search input:focus {
  border: 1px solid #1d8f2c;
}
.single_latest_blog {
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.single_latest_blog img {
  float: left;
  margin-right: 10px;
}
.single_latest_blog span i {
  color: #1d8f2c;
  margin-right: 10px;
}
.single_latest_blog a {
  font-size: 16px;
  margin-top: 5px;
  display: block;
}

.single_upcoming_event {
  margin-bottom: 20px;
}
.single_upcoming_event h4 {
  color: #1d293e;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  margin: 10px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single_upcoming_event:hover h4 {
  color: #1d8f2c;
}
.single_upcoming_event span i {
  margin-right: 5px;
  color: #1d8f2c;
}
.single_upcoming_event span {
  color: #777;
}
.categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories ul li a {
  color: #1d293e;
  display: block;
  font-size: 14px;
  padding: 5px 0;
  font-family: poppins;
  font-weight: 400;
}
.categories ul li a span {
  float: right;
}
.categories ul li a:hover {
  color: #1d8f2c;
}
.categories ul li a i {
  margin-right: 10px;
  transform: rotate(300deg);
  color: #1d8f2c;
  transition: 0.3s;
}
.categories:hover ul li a i {
  color: #1d8f2c;
  visibility: visible;
}
.single_quote {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  padding: 0 30px 30px 30px;
  margin: 30px;
  /* border: 1px solid #ddd; */
}
.single_quote i {
  color: #1d8f2c;
  transform: rotate(180deg);
  font-size: 30px;
  margin-top: -10px;
}
.single_quote p {
  margin-bottom: 0;
}
.single_quote span {
  font-weight: 700;
}
.sb_img {
  overflow: hidden;
}
.sb_img img {
  float: left;
  width: 50%;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sb_img h4 {
  margin-bottom: 20px;
}

/*END BLOG SIDEBAR DESIGN*/
/*START BLOG SINGLE PAGE DESIGN*/
.bc_left {
  padding-left: 30px;
  font-style: italic;
  font-weight: 600;
}
.bc_bottom {
  margin-bottom: 30px;
}
.single_blog_post {
  margin-bottom: 60px;
}
.single_blog_post img {
  width: 750px;
  height: 455px;
}
.blog_post_text h4 {
  margin: 30px 0;
}
.author_part {
  margin-bottom: 30px;
  overflow: hidden;
  margin-top: 60px;
}
.single_author {
  background: #fff none repeat scroll 0 0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.08);
  overflow: hidden;
}
.author_part img {
  border: 4px solid #1d8f2c;
  border-radius: 100px;
  float: left;
  height: 120px;
  margin-right: 20px;
  width: 120px;
}
.author_part h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
.author_part p {
  margin-bottom: 0;
}
.blog_head_title {
  border-bottom: 1px solid #eee;
  margin: 0 0 30px;
  padding-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
.coment_bg_none {
  background: #fff !important;
}
.comments_part {
  margin-bottom: 60px;
}
.single_comment {
  margin-bottom: 30px;
  background: #f8f7f0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.08);
  overflow: hidden;
}
.single_comment_mbnone {
  margin-bottom: 0px;
}
.single_comment img {
  /* border: 4px solid #1D8F2C; */
  /* border-radius: 100px; */
  float: left;
  margin-bottom: 50px;
  margin-right: 20px;
  width: 90px;
}
.single_comment h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.single_comment p {
  margin-bottom: 0;
}
.single_comment a {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  display: block;
}
.comment_form input,
.comment_form textarea {
  border: 1px solid #ddd;
}

.comment_form textarea {
  border: 1px solid #ddd;
}
@media only screen and (max-width: 768px) {
  .comment_form textarea {
    width: 100%;
  }
}
